* {
    margin: 0;
    padding: 0;
  }

  header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 0 10px 12px rgba(205, 220, 200, 0.7);
    z-index: 10000;
    position: fixed;
    top: 0;
    background-color: white;
  }

  .logo-container {
    width: 140px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }

  .logo img {
    height: 40px;
  }
  .nav-bar{
    display: flex;
    align-items: center;
    width: 500px;
  }
  .nav-items{
    width: 500px;
  }
  .nav-items #li-items {
    display: flex;
    justify-content: space-around;
  }
  #li-items{
    list-style: none;
  }
  .nav-items a{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.3s;
    width: 90px;
    text-align: center;
    
  }
  .nav-items a:hover{
    transform: scale(1.2);
  }
  

.dropdown {
  position:relative;
}

.dropdown-menu {
  display: none; 
  position: absolute; 
  top: 40px;
  right: 0px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
  list-style: none;
  z-index: 10000; 
  min-width: 150px; 
}

.dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
  overflow-x: unset;
  display: flex;
  justify-content: center;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
  
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu,
.dropdown.active .dropdown-menu {
  display: block;
}




  main{
    margin-top: 50px;

  }
  .cover-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 8rem;
    align-items: center;
    justify-content: center;
  }
  .tagline-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tagline-container h1{
    font-size: 45px;
    font-family: 'Permanent Marker';
    text-align: center;
  }
  .tagline-container p{
    font-size: 20px;
    font-family: 'Edu AU VIC WA NT Pre';
    text-align: center;
  }
  .tagline-container button{
    margin-top: 50px;
    font-size: 18px;
    background-color:  rgb(207, 7, 7);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: transform 0.3s ease;
  }
  .tagline-container button span{
    overflow-y: hidden;
  }
  .tagline-container button:hover{
    transform: scale(0.9);
  }
  .search-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden; 
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .search-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  .search-popup.show {
    display: block; 
    opacity: 1; 
    visibility: visible;
  }
  .search-popup-content h2{
    font-size: 30px;
    font-family: 'Roboto';
  }
  .search-popup-content input{
    width: 95%;
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
  }
  .search-popup-content button{
    width: 100%;
    margin-top: 20px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .genres-container{
    margin: 20px 40px;
  }
  .genres-heading h2, .popular-container h2{
    font-family: 'Roboto';
  }
  .genres-collection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 4rem;
    margin-top: 20px;
  }
  .genres-box{
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
  }
  .genres-box img{
    height: 300px;
    padding: 10px;
  }
  .genres-box h3{
    font-family: 'Signika Negative';
    font-size: 20px;
    margin-top: 5px;
  }
  .genres-box a{
    margin-top: 15px;
    text-decoration: none;
    color: rgb(207, 7, 7);
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .genres-box span{
    overflow-y: hidden;
  }
  .genres-box a:hover{
    color: rgb(249, 9, 9);
  }

  .author-container{
    background-image: url(img/author-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    color: white;
  }
  .author-search{
    padding:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .author-search h1{
    font-size: 55px; 
    font-family: 'Roboto';
  }
  .author-search input{
    font-size: 20px;
    margin-top: 20px;
    width: 400px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    outline-style: none;
  }
  .author-search button{
    background-color: rgb(207, 7, 7);
    margin-top: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 32px;
    cursor: pointer;
    font-size: 18px;
  }
  .author-search button:hover{
    background-color: rgb(249, 9, 9);
  }

  .popular-container{
    margin: 40px;
  }
  .popular-collection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3rem;
    margin-top: 20px;
  }
  .popular-box{
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
  }
  .popular-box img{
    height: 200px;
    padding: 10px;
  }
  .popular-box h3{
    font-family: 'Signika Negative';
    font-size: 15px;
    margin-top: 5px;
  }
  .popular-box button{
    background-color: rgb(207, 7, 7);
    margin-top: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 20px;
    cursor: pointer;
    font-size: 13px;
  }
  .popular-box button:hover{
    background-color: rgb(249, 9, 9);
  }
  
  .footer-container{
    background-color: #f3f3f7;
  }
  .footer-content{
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-content-1 #important-links{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer-content-1 a{
    font-size: 18px;
    color: rgb(31, 31, 31);
    text-decoration: none;
  }
  .footer-content-1 a:hover{
    color: rgb(249, 9, 9);
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000; 
  }

  
  .popup-overlay.active {
    display: flex;
  }

  
  .form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0;
    visibility: hidden;
  }

  #form{
    width: 500px;
  }
  .form-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-heading h1{
    font-family: 'Roboto';
    font-size: 35px;
  }
  .form-heading h3{
    font-family: 'Signika Negative';
    font-weight: 400;
    font-size: 18px;
  }
  .name-container{
    display: flex;
    margin-top: 40px;
  }
  .first-name, .last-name {
    border: 2px solid #d5d5da;
    width: 250px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .first-name input, .last-name input, .email-container input, .phone-container input{
    border: none;
    font-size: 16px;
    padding: 5px;
    margin-left: 5px;
    outline: none;
  }
  .first-name span, .email-container span, .phone-container span{
    color: #7d7d7d;
    padding: 5px;
  }
  .last-name{
    margin-left: 8px;
  }
  .email-container, .phone-container{
    width: 496px;
    border: 2px solid #d5d5da;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  #send-btn{
    width: 496px;
    margin-top: 20px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(207, 7, 7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #send-btn:hover{
    background-color: rgb(249, 9, 9);
  }

  .footer-content-2{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .social-media h1{
    font-family: 'Roboto';
    font-size: 25px;
  }
  .icons-container{
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .icons-container img{
    height: 25px;
    
  }
  .subscribe h2{
    font-family: 'Roboto';
    font-size: 25px;
  }
  .subscribe-input input{
    height: 10px;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    
  }
  .subscribe-input button{
    width: 80px;
    height: 34px;
    cursor: pointer;
    background-color: rgb(207, 7, 7);
    color: white;
    border: none;
    border-radius: 5px;
  }
  .subscribe-input button:hover{
    background-color: rgb(249, 9, 9);
  }

  .copyright{
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
  }


  /*About-Us CSS*/

  .about-cover-container{
    background-image: url(img/about\ us\ background.jpg);
    color: white;
    height: 60vh;
  }
  .about-cover-content{
    position: relative;
    top: 150px;
    left: 100px;
  }
  .about-cover-content h1{
    font-size: 45px;
    font-family: 'Roboto';
  }
  .about-cover-content p{
    font-family: 'Edu AU VIC WA NT Pre';
  }
  .about-cover-content button{
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgb(207, 7, 7);
    color: white;
    cursor: pointer;
  }
  .about-cover-content button:hover{
    background-color: rgb(249, 9, 9);
  }
  .about-us-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 20px;
  }
  .about-content-1 h1{
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-size: 40px;
  }
  .about-content-1 li{
    margin-top: 5px;
  }
  .about-content-1 p{
    line-height: 25px;
    font-family: 'Signika Negative';
    font-weight: 300;
    margin-top: 20px;
  }
  .about-us-2 h1{
    text-align: center;
    font-family: 'Roboto';
    font-size: 40px;
    margin-top: 40px;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 3rem;
    padding: 40px 60px;
    justify-content: space-around;
  }
  .card{
    border: 1px solid black;
    width: 225px;
    height: 300px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    background-color: rgb(240, 220, 220);
  }
  .card h3{
    padding: 20px;
    font-family: 'Signika Negative';
    font-size: 16px;
    text-align: center;
  }
  .card p{
    font-family: 'Edu AU VIC WA NT Pre';
    font-size: 13px;
    padding: 20px;
    font-weight: 500;
    text-align: justify;
  }




  /*Genre.html*/

    #loading {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 9999;
  }

  .spinner {
      width: 50px;
      height: 50px;
      border: 5px solid #f3f3f3;
      border-top: 5px solid #3498db;
      border-radius: 50%;
      animation: spin 1s linear infinite;
  }

  @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  #book-results{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 4rem;
    margin-top: 50px;
    padding: 24px;

  }
  .genre-book{
    height: 400px;
    width: 314px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
  }
  .genre-book img{
    height: 260px;
    padding: 10px;
  }
  .genre-book h3{
    font-family: 'Signika Negative';
    font-size: 17px;
    margin-top: 5px;
    text-align: center;
  }
  .genre-book p{
    margin-top: 15px;
    color: rgb(17, 180, 17);
  }
  .genre-book #buttons{
    margin-top: 22px;
    display: flex;
    gap: 16px;
  }
  .genre-book #buttons button{ 
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    width: 130px;
    cursor: pointer;
  }
  .genre-book #buttons button:hover{
    background-color: rgb(207, 7, 7);
    color: white;
  }


  /*Search by Author*/
  #author-book-results{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 4rem;
    margin-top: 50px;
    padding: 24px;

  }
  .author-book{
    height: 490px;
    width: 314px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
  }
  .author-book img{
    height: 260px;
    padding: 10px;
  }
  .author-book h3{
    font-family: 'Signika Negative';
    font-size: 17px;
    margin-top: 5px;
    text-align: center;
  }
  .author-book #author-name{
    margin-top: 15px;
    color: rgb(17, 180, 17);
    text-align: center;
  }
  .author-book #published-year{
    margin-top: 22px;
    
    
  }
  .author-book #author-buttons{
    margin-top: 22px;
    display: flex;
    gap: 16px;
  }
  .author-book #author-buttons button{ 
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    width: 130px;
    cursor: pointer;
  }
  .author-book #author-buttons button:hover{
    background-color: rgb(207, 7, 7);
    color: white;
  }

  /*Search by title*/
  .title-book{
    height: 470px;
    width: 314px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
  }
  .title-book img{
    height: 260px;
    padding: 10px;
  }
  .title-book h3{
    font-family: 'Signika Negative';
    font-size: 17px;
    margin-top: 5px;
    text-align: center;
  }
  .title-book #author-name{
    margin-top: 15px;
    color: rgb(17, 180, 17);
    text-align: center;
  }
  .title-book #published-year{
    margin-top: 22px;
    
  }
  .title-button{
    margin-top: 20px;
  }
  .title-button button{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    width: 130px;
    cursor: pointer;
  }
  .title-button button:hover{
    background-color: rgb(207, 7, 7);
    color: white;
  }
  


  /*Popular books*/
  .book-details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 6rem;
    margin: 5%;
    padding: 24px;

  }
  .popular-cover-container{
    display: flex;
    flex-direction: column;
  }
  .popular-cover-container img{
    height: 350px;
    width: 350px;
    border-radius: 12px;
    margin-bottom: 10px;
  }
  .popular-cover-container button{
    margin-top: 10px;
    height: 35px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 15px;
    background-color: transparent;
  }
  .popular-cover-container button:hover{
    background-color: rgb(207, 7, 7);
    color: white;
  }
  .popular-details-container h1{
    font-family: 'Roboto';
    font-size: 50px;
  }
  .popular-details-container #author-name{
    font-size: 18px;
    color: #7d7d7d;
    letter-spacing: 1px;
  }
  .popular-details-container #genre{
    font-size: 18px;
    color: #7d7d7d;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
  .popular-details-container #intro{
    font-family: 'Signika Negative';
    line-height: 22px;
    margin-bottom: 15px;
  }
  .popular-details-container span{
    color: #7d7d7d;  
  }
  .popular-details-container h3{
    font-family: 'Signika Negative';
    margin-top: 20px;
    font-size: 22px;
  }
  .popular-details-container #original_t{
    margin-top: 10px;
    font-family: 'Signika Negative';
  }
  .popular-details-container #published_year, .popular-details-container #awards{
    font-family: 'Signika Negative';
  }






  /*Responsivness*/

  @media (max-width: 1228px){
    
    .footer-content-1 a{
      font-size: 17px;
    }
    .social-media {
      width: 150px;
    }
    .social-media h1{
      font-size: 23px;
    }
    .subscribe h2{
      font-size: 23px;
    }
    .subscribe-input input{
      height: 9px;
      width: 180px;
    }
    .subscribe-input button{
      width: 80px;
      height: 33px;
    }
  }
  @media (max-width: 1155px){
    .footer-content-1 .copyright{
      font-size: 10px;
      margin-top: 13px;
    }
    .footer-content-1 a{
      font-size: 16px;
    }
    .social-media {
      width: 130px;
    }
    .social-media h1{
      font-size: 21px;
    }
    .icons-container{
      width: 100px;
    }
    .icons-container img{
      height: 23px;
    }
    .subscribe h2{
      font-size: 21px;
    }
    .subscribe-input input{
      height: 9px;
      width: 160px;
    }
    .subscribe-input button{
      width: 70px;
      height: 33px;
    }
  }
  @media (max-width: 1043px){
    .footer-content-1 .copyright{
      font-size: 9px;
      margin-top: 12px;
    }

    .footer-content-1 a{
      font-size: 15px;
    }
    .social-media {
      width: 130px;
    }
  }
  @media (max-width: 924px){
    .footer-content-1 a{
      font-size: 14px;
    }
    .social-media {
      width: 110px;
    }
    .social-media h1{
      font-size: 19px;
    }
    .icons-container{
      width: 90px;
    }
    .icons-container img{
      height: 21px;
    }
    .subscribe h2{
      font-size: 19px;
    }
    .subscribe-input input{
      height: 8px;
      width: 140px;
    }
    .subscribe-input button{
      width: 70px;
      height: 32px;
    }
  }
  @media (max-width: 846px){
    .footer-content-1 a{
      font-size: 13px;
    }
    .social-media {
      width: 100px;
    }
    .social-media h1{
      font-size: 18px;
    }
    .icons-container{
      width: 80px;
    }
    .icons-container img{
      height: 20px;
    }
    .subscribe h2{
      font-size: 18px;
    }
    .subscribe-input input{
      height: 7px;
      width: 120px;
    }
    .subscribe-input button{
      width: 60px;
      height: 31px;
    }
  }
  @media (max-width: 578px){
    .footer-content-1 a{
      font-size: 11px;
    }
    .social-media {
      width: 90px;
    }
    .social-media h1{
      font-size: 17px;
    }
    .icons-container{
      width: 70px;
    }
    .icons-container img{
      height: 19px;
    }
    .subscribe h2{
      font-size: 17px;
    }
    .subscribe-input input{
      height: 7px;
      width: 110px;
      font-size: 10px;
    }
    .subscribe-input button{
      width: 50px;
      height: 31px;
      font-size: 10px;
    }
  }
  @media (max-width: 512px){
    .footer-content{
      padding: 25px;
    }
    .footer-content-1 a{
      font-size: 10px;
    }
    .social-media {
      width: 90px;
    }
    .social-media h1{
      font-size: 17px;
    }
    .icons-container{
      width: 70px;
    }
    .icons-container img{
      height: 19px;
    }
    .subscribe h2{
      font-size: 17px;
    }
    .subscribe-input input{
      height: 7px;
      width: 110px;
      font-size: 10px;
    }
    .subscribe-input button{
      width: 50px;
      height: 31px;
      font-size: 10px;
    }
    .copyright{
      font-size: 8px;
    }
  }
  
  